body {
    font-family: 'Times, sans-serif';
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#banner {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    background-image: url(images/banner.png); 
    height: 90px; 
    background-size: cover; 
    background-position: left; 
    padding: 20px 10px 0; 
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: none;
    position: relative;
}

.barra-rosa {
    width: 30px; 
    height: 110px; 
    background-color: rgb(240, 96, 185); 
    position: absolute; 
    right: 370px; 
    top: 0; 
}
header {
    text-align: left;
    color: #ffffff;
    position: relative;
}

header img {
    margin-bottom: 90px;
}

nav {
    list-style: none;
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 250px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 10px 10px;
    font-size: 18px;
}
nav ul li {
    display: inline-block;
    margin: 5px 5px;
    vertical-align: middle; 
}

nav ul li i {
    margin-right: 10px; 
    color: #fff; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.0s;
}

nav ul li a:hover {
    text-decoration: underline;
    color: palevioletred;
    transition: color 0.0s;
}
nav ul li i:hover {
    color: palevioletred;
    transition: color 0.0s;
}
.search-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 40px;
}
.search-form {
    display: flex; 
    align-items: center; 
}

.search-form input {
    padding: 5px; 
    margin-right: 5px; 
    width: 200px;
    height: 5px; 
}

.search-form .button {
    padding: 0px;
    right: 5px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-form .button i {
    font-size: 13px; 
    margin: 0px; 
}

.search-form .button:hover {
    opacity: 0.7;
}

.content{
    display: flex;
    padding: 20px; 
    margin-left: 0; 
}

.content .main {
    flex: 3; 
    padding-right: 20px; 
    text-align: left;
}

.content .main p {
    color: #494949;
    font-size: 21px;
    line-height: 1.6;
    margin-right: none;
    margin-bottom: none;
    
}

.content .main p a {
    color: palevioletred;
    text-decoration: underline;
}

.content .photo {
    flex: 1; 
    text-align: left;
    margin-right: 300px;
}

.content .photo img {
    width: 100%; 
    max-width: 200px;
    margin-right: 100px;
}

.content .photo .credit {
    color: #8f8f8f;
    font-size: 15px;
}

.content .photo .mf-name {
    color: #2e2e2e;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.center {
    display: flex; 
    padding: 20px; 
    margin-left: 0; 
    justify-content: flex-start; 
}

.center-main {
    flex: 3; 
    text-align: left; 
    margin-left: 0;
    padding-right: 0;

    
}

.center-main h1 {
    color: #242424; 
    font-size: 190%; 
    line-height: 1.6; 
    margin: 20px 0;
}

.center-main p {
    color: #494949; 
    font-size: 18px; 
    line-height: 1.6; 
    margin: 10px 100px;
    padding-right: 500px;
}

.center-main p a {
    color: palevioletred; 
    text-decoration: underline; 
}

.center-main .narrative{
    flex: 3;
    text-align: left;
}

.main-narrative{
    width: 1000px;
    height: 30px;
    margin-right: 50px;
    padding-right: none;
}

.main-narrative p{
    font-size: 19px;
    color: #494949;
}

.main-narrative a{
    color: palevioletred;
}

.main-narrative h1{
    font-family: Georgia, serif;
    color: #303030;
    font-size: 160%;
}

.feed{
    flex: 1;
    background-color: #fafafa;
    padding: 20px ;
    margin-right: 300px;
    margin-bottom: 5000px;
}

.feed h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3d3d3d;
}

.feed h1:hover{
    text-decoration: underline;
    color: blue;
    transition: color 0.0s;
}

.feed p{
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #4e4e4e;
}

.feed .intro-text{
    width: 300px;
    font-style: italic;
}

.feed p a:hover{
    text-decoration: underline;
    color: blue;
    transition: color 0.0s;
}


h2{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #303030;
}

h2:hover{
    text-decoration: underline;
    color: blue;
    transition: color 0.0s;
}

p{
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 1px;
    color: #6b6b6b;
    text-align: left;
}
p a:hover{
    text-decoration: underline;
    color: blue;
    transition: color 0.0s;
}

.feed hr {
    border: 0;
    height: 4px;
    background: #17123d;
    margin: 0 60px;
}

.feed .date{
    font-size: 0.8em;
    color: #aaaaaa;
    margin-bottom: 10px;
}
.feed img{
    width:300px;
    height: 150px;
}

.feed .title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #303030;
}

.feed .title:hover {
    text-decoration: underline;
    color: blue;
    transition: color 0.0s;
}

.container {
    width: 80%;
    margin: 20px 0;
}
.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.section div {
    width: 48%;
}
.section img {
    width: 100%;
    height: auto;
}
.section h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    position: relative;
}
.section h2::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(11, 19, 59);
}

.section p {
    font-size: 14px;
    line-height: 1.6;
}
.section a {
    font-size: 18px;
    color: palevioletred;
    text-decoration: none;
}
.section .type{
    font-size: 14px;
    text-decoration: underline;
    color: palevioletred;
}